#game {
	grid-area: game;
	background-color: $color-bg;
	width: 100%;
	aspect-ratio: 2 / 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game_menu {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	width: 100%;
	aspect-ratio: 2 / 1;
	cursor: pointer;
}

.react-p5 {
	width: 100%;
	aspect-ratio: 2 / 1;
	cursor: none;
}