// COLORS
$color-primary: #1b5b76;
$color-secondairy: #6c8f9e;
$color-tertairy: #9db6c1;
$color-hover_box: #e1eaee;
$color-messages: rgb(138, 167, 180);
$color-messages_friend: #c0d7e0;
$color-status: #318f94;
$color-link: #309a9f;
$color-hover: #0fa2a9;
$color-almost_black: #0a1317;
$color-bg: #eff4f6;

$color-animation_blue: rgb(148, 187, 233);
$color-animation_pink: rgb(238, 174, 202);
$color-animation_lightblue: rgb(207, 224, 242);
$color-animation_white: rgb(233, 242, 252);

// ANIMATION
$transition-fast: 0.1s;
$transition-medium: 0.5s;
$transition-slow: 1s;
$transition-ultra_slow: 5s;