h1 {
	font-size: 2.2em;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: $color-secondairy;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5;
	color: $color-primary;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: 600;
}

.section_header {
	width: 100%;
	height: 2em;
	line-height: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
}

section {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	.section_content {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		background: $color-secondairy;
		background: linear-gradient(180deg, $color-hover_box 0%, $color-bg 150px);
	}
}

.chat_profile_header {
	@media screen and (min-width: 1201px) {
		margin-top: -2em;
	}
}

.flex_row_spacebetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.flex_col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.limit_heigth{
	max-height: 20vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

a,
.link {
	font-weight: 500;
	color: $color-link;
	text-decoration: inherit;
}

a:hover,
.link:hover {
	color: $color-hover;
	cursor: pointer;
}

input {
	width: 100%;
	margin-top: 2em;
	padding: 1em 1.5em;
	box-sizing: border-box;
	border-radius: 10px;
	border: none;
	caret-color: black;
	box-shadow: inset rgba(17, 17, 26, 0.50) 0px 0px 2px,
		inset rgba(17, 17, 26, 0.10) 0px 0px 4px,
		inset rgba(17, 17, 26, 0.05) 0px 0px 8px;
}

input:focus {
	border: none;
	outline: none;
}

.grayed-out {
	color: $color-tertairy;
	pointer-events: none;
	cursor: default;
}

/////////////
// AVATAR  //
/////////////
.avatar_container {
	border-radius: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

}

/////////////
// BUTTONS //
/////////////
button {
	background-color: $color-hover;
	color: $color-bg;
	border: none;
	border-radius: 10px;
	padding: 1em 2em;
	font-size: 1em;
	font-weight: 600;
	transition: $transition-slow;
	margin-top: 2em;
	width: 100%;
	box-shadow: inset rgba(17, 17, 26, 0.10) 0px 0px 10px,
		inset rgba(17, 17, 26, 0.10) 0px 0px 80px;
}

button:hover {
	background-color: $color-hover;
	cursor: pointer;
	box-shadow: none;
	transition: $transition-medium;
}

button:active {
	background-color: $color-hover;
	cursor: pointer;
	box-shadow: inset rgba(17, 17, 26, 0.30) 0px 0px 10px,
		inset rgba(17, 17, 26, 0.30) 0px 0px 80px;
	transition: $transition-fast;
}

///////////
// MODAL //
///////////
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: $color-bg;
	margin: 4em auto;
	padding: 4em;
	border: none;
	border-radius: 10px;
	box-shadow: rgba(17, 17, 26, 0.30) 0px 0px 10px,
		rgba(17, 17, 26, 0.30) 0px 0px 80px;
	max-width: 400px;
	position: relative;
}

.close {
	color: #aaa;
	float: right;
	margin-top: -38px;
	margin-right: -30px;
	font-size: 28px;
	font-weight: bold;
}

.stat_block {
	margin-bottom: 3em;
	overflow-y: scroll;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

///////////////
// SCROLLBAR //
///////////////
// Works on Firefox
* {
	scrollbar-width: thin;
	scrollbar-color: $color-tertairy $color-bg;
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-thumb {
	background-color: $color-tertairy;
	border-radius: 20px;
	border: 3px solid $color-bg;
}

table {
	margin: 0;
	padding: 0;
}

.align_right {
	text-align: right;
}

.unclickable_link {
	color: $color-tertairy;
}
